{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class='container'>
<h2 style="text-align: center;">Welcome {{ user.get_username }}</h2>
{% comment %}<h3 style="text-align: center;">Your account number : {{ object_list.first.balance }}</h3>{% endcomment %}
{% comment %}<h3 style="text-align: center;">Current Balance : {{ account.balance }}</h3>{% endcomment %}

<br>
<h4>Your Account Actions:</h4>
<br>
<a href="{% url 'accounts:debitfromaccount' %}">Debit/Credit From Account</a><br><br>
<a href="{% url 'accounts:transferfunds' %}">Transfer Funds</a><br><br>
<a href="{% url 'accounts:viewtransactions' %}">My Transactions</a><br><br>
<a href="{% url 'accounts:searchtransactions' %}">Search Transaction</a><br><br>
<a href="{% url 'accounts:merchantrequest' %}">View Merchant Requests</a><br><br>
{% comment %}<a href="{% url 'accounts:viewtransactions' %}">Debit/Credit From Account</a><br><br>{% endcomment %}


</div>

{% endblock %}