{% extends 'base1.html' %}
{% block title %}Search Transactions{% endblock %}
{% block content %}
<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
<h2 style="text-align: center;">Search Transactions</h2>
<h4>Select whether to see transactions of lower/greater than the amount entered</h4>
<form method="POST">
        {% csrf_token %}
        {{ search_form.as_p }}
        <button type="btn btn-success" value="submit">View</button>
    </form>    
        <br><br><br>
        {% if transaction_list %}
    <table>
        <tr>
          <th>Account ID</th>
          <th>To Account</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Transaction Time</th>
          <th>Transaction Type</th>

        </tr>
        {% for tran in transaction_list %}
        <tr>
          <td>{{ tran.from_account.accountid }}</td>
          <td>{{ tran.to_account.accountid }}</td>
          <td>{{ tran.amount }}</td>
          <td>{{ tran.get_status_display }}</td>
          <td>{{ tran.transaction_time }}</td>
          <td>{{ tran.get_ttype_display }}</td>
        </tr>
        {% endfor %}

      </table>
      {% endif %} 
      <br>
      <h1>You have accounts-</h1>
      {% for account in user_accounts %}
      <h3>{{ account.accountid }}</h3>
      {% endfor %} 
    {% endblock %}
